<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	{% load bootstrap5 %}
	{% bootstrap_javascript %}
	{% bootstrap_css %}
	<title>Главная - Доска объявлений</title>
</head>
<body class="m-3">

<div class="col">
    <div class="card-body text-center display-1 mb-5">МЕНЮ СТОЛОВОЙ</div>
    <div class="row h-80 align-items-center">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Блюда</h5>
            <p class="card-text">Список всех блюд и обеды, в которых они встречаются</p>
            <a href="/meals" class="btn btn-primary">Смотреть блюда</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Обеды</h5>
            <p class="card-text">Список обедов и их составы</p>
            <a href="/lunches" class="btn btn-primary">Смотреть обеды</a>
          </div>
        </div>
      </div>
    </div>
</div>


</body>
</html>
